<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam commodi deleniti esse placeat doloribus necessitatibus? Sunt similique deleniti amet dicta!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero unde vel recusandae nulla dolorem architecto? Tempora, inventore quo. Alias.</p>
    <a href="#" class="btn btn-primary">boton</a>
</div>