<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">Accout Login</div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <img src="/img/alohabeautyclinic_logo.png" alt="logo_alohabeautyclinic" class="rounded-circle mx-auto d-block m-4 logo">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-block btn-primary">
                        Signin
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>